
#parallax-pic {
    height: 500px;
    /* overflow: hidden; */
    background-attachment: fixed;
    background-size: cover;
}

/* #location-div {
    margin-left: auto;
} */
/* #icons {
    max-width: 100%;
    height: auto;
} */
/* #chart2 {
    overflow: auto;
    position: relative;
    width: 800px;
} */
/* #chart2icons {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    overflow: auto;
} */

#hourly-chart-wrapper {
    height: 450px;
}
#hourlyChart2 {
    position: relative;
    width: 4800px;
    height: 300px;
}

/* #hourly-chart-icons {
    width: 4800px;
} */
.current {
    width: 10rem;
}
.daily-chart-wrapper {
    height: 450px;
}
.chart-wrapper {
    height: 300px
}
#forecastWeather {
    overflow: auto;
    /* position: relative; */
}
#hourlyDiv {
    position: relative;
    overflow: auto;
    /* display: flex; */
}

.card {
    padding: 10px;
    /* margin: 10px; */
}

/* div {
    border: 1px solid red;
} */
