
#parallax-pic {
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
}

#hourly-chart-wrapper {
    height: 420px;
}

#h-chart-wrapper {
    position: relative;
    width: 4800px;
    height: 300px;
}

.current {
    width: 10rem;
}
.daily-chart-wrapper {
    height: 420px;
}

.d-chart-wrapper {
    height: 300px
}

#forecastWeather {
    overflow: auto;
}

#hourlyDiv {
    position: relative;
    overflow: auto;
}
